<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Jackets</title>
</head>
<body>
    <div class="parent-container">
    <h1>Welcome to Bubish</h1>
    <div class="image-container">
        <img
            class="eliza"
            src="https://www.bubishluxe.com/cdn/shop/files/homepage2_aeafc25d-24d1-4f8c-9214-79a47f374442.jpg?v=1711359877"
            alt="Leather Cherry coloured jacket and skirt set"
            style="width: 500px; height: auto;"
        />
    </div> 
    <p>A website for your collection of Jackets</p>
    <a href="/jackets">Browse Jackets</a>
</div>
</body>
</html>