<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Item</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>New Item</h1>
    <form action="/users/<%= user._id %>/foods" method="post">
    <label>
        Item:
        <input name="item">
    </label>
    <label>
        Quantity:
        <input name="quantity">
    </label>
    <button>Add Item</button>
    </form>
</body>
</html>