<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantry Item</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= food.item %></h1>
    <form 
    action="/users/<%= user._id %>/foods/<%= food._id %>?_method=DELETE" 
        method="post">
        <button>Delete food item</button>
    </form>
</body>
</html>