
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

body {
    background-color: rgba(175, 201, 153, 0.608);
    font-family: 'freeman';
    margin: 0;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 325px;
}

.sqr {
    width: 30%;
    aspect-ratio: 1/1;
    border: 2px solid rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.numberChoice {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 200px;
}

.num {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    cursor: pointer;
};

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2,
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset {
    background-color: rgb(222, 221, 230);
    font-family: 'freeman';
    border: 3px solid rgb(173, 152, 168);
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    margin: 10px 200px;
    cursor: pointer;

}

#reset:hover{
    top: -0.16em;
    transition: padding .5s, top .5s, box-shadow .5s;
    box-shadow: 0 0.4rem 0 -.05rem #474b48;
}






/* #row4{
    margin-top: 5px;
}

#row7{
    margin-top: 5px;
}

#three {
    margin-right: 4px
}
#six {
    margin-right: 4px
} */

