
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

body {
    background-color: rgba(175, 201, 153, 0.608);
    font-family: 'freeman';
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px ;
    width: 100%;
    margin-bottom: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px
}

.sqr {
    width: 100%;
    aspect-ratio: 1/1;
    border: 2px solid rgb(0, 0, 0);
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}


.numberChoice {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 260px;
    height: 40px;
    margin-bottom: 20px;
    background-color: white;
}

.num {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    text-align: center; 
    margin: 10px;
};

#reset {
    background-color: rgb(222, 221, 230);
    font-family: 'freeman';
    border: 3px solid rgb(173, 152, 168);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset:hover{
    top: -0.16em;
    transition: padding .5s, top .5s, box-shadow .5s;
    box-shadow: 0 0.4rem 0 -.05rem #474b48;
}






/* #row4{
    margin-top: 5px;
}

#row7{
    margin-top: 5px;
}

#three {
    margin-right: 4px
}
#six {
    margin-right: 4px
} */

