<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>jackets Index</title>
</head>
<body>
    <div class="jacket-index">
    <h1>All jackets</h1>
    <ul>
        <% jackets.forEach((jackets) => { %>
            <li>
                <a href="/jackets/<%= jackets._id %>"><%= jackets.name %></a>
            </li>

        <% }); %>
    </ul>
    <a href="/jackets/new" class="add-new-jacket">Add a new jacket</a>
    <a href="/jackets/new" class="home">Home</a>
    </div>
</body>
</html>

