<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Add a Jacket</title>
</head>
<body>
    <h1>Add a new Jacket!</h1>
    <form action="/jackets" method="post">
        <label>
            Name:
            <input name="name">
        </label>
        <label>
            Colour:
            <input name="colour">
        </label>
        <label>
            Style:
            <input name="style">
        </label>
        <button type="submit">Add jacket</button>
    </form>
</body>
</html>