{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/turtles/turtle-detail.css' %}">
{% endblock %}
{% block content %}
<section class="turtle-container">
    <div class="turtle-img">
        
    </div>
    <div class="turtle-details">
        <h1>{{ turtle.name }}</h1>
        {% if turtle.age > 0 %}
            <h2>A {{ turtle.age }} year old {{ turtle.breed }}.</h2>
        {% else %}
            <h2>A {{ turtle.breed }} kitten.</h2>
        {% endif %}
        <p>{{ turtle.description }}</p>

        <div class="turtle-actions">
            <a href="{% url 'turtle-update' turtle.id %}" 
            class="btn warn">Edit turtle</a>
            <a href="{% url 'turtle-delete' turtle.id %}" 
            class="btn danger">Delete turtle</a>
        </div>
    </div>
</section>
<div class="suntime-container">
    <section class="suntime">
        <div class="subsection-title">
            <h2>Sun Time</h2>

        </div>
        <h3>Add a Sun time</h3>
        <form method="post" action="{% url 'add-suntime' turtle.id %}" class="subsection-content" autocomplete="off">
            {% csrf_token %}
            {{ suntime_form.as_p }}
            <button class="btn submit">Add Sun Time</button>
        </form>
        <h3>Past Sun Time</h3>
        {% if turtle.suntime_set.all.count %}
            <table>
                <thead>
                    <tr>
                        <th>Sun Time Date</th>
                        <th>Sun Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for suntime in turtle.suntime_set.all %}
                        <tr>
                            <td>{{ suntime.date }}</td>
                            <td>{{ suntime.get_suntime_display }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="subsection-content">
                <p>⚠️ {{ turtle.name }} has not had any time in the sun</p>
            </div>
        {% endif %}
    </section>
</div>
{% endblock %}