<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1><%= restaurant.name %></h1>
  <ul>
    <%= restaurant.name %>
    <br>
    <%= restaurant.address %>
    <br>
    <%= restaurant.phone %>
  </ul>
</body>
</html>
