<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Shoe</title>
</head>
<body>
    <h1>Update shoe!</h1>

    <form action="/shoes/<%= shoe._id %>?_method=PUT" method="post">
        <label>
            Name:
            <input name="name" value="<%= shoe.name %>">
        </label>

        <label>
            Colour:
            <input name="colour" value="<%= shoe.colour %>">
        </label>

        <label>
            Style:
            <input name="style" value="<%=shoe.style%>">
        </label>

        <button type="submit">Update shoe</button>
    </form>
    <a href="/shoes">Back to Shoes</a>
</body>
</html>