<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Index</title>
</head>
<body>
    <h1>All shoes</h1>
    <ul>
        <% shoes.forEach((shoes) => { %>
            <li>
                <a href="/shoes/<%= shoes._id %>"><%= shoes.name %></a>
            </li>
        <% }); %>
    </ul>
    <a href="/shoes/new">Add a new shoe</a>
</body>
</html>

