body {
    background-color: gainsboro;
    font-family: system-ui, sans-serif;
    margin: 0; 
}

.board {
    display: flex;
    flex-wrap: wrap; /* helps create the layout for the board*/
    width: 325px;
}

.sqr { /* all these elements have a single parent <section> */
    width: 30%;
    aspect-ratio: 1/1;
    border: 3px solid black;
    font-size: 64px;
    text-align: center;
}